<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nollpointer.hereapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.TransparentTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="HereApp">
            <intent-filter>
                <action android:name="HereApp"></action>
            </intent-filter>
        </service>
        <service android:name=".MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_cart" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="H3rasbimQCxMcZ8PaCSI" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="IT-PaP_3p5hY3kxsYM1MkQ" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="W0JXXuGbpQF54XIJee3GaXuCUg7nVrkZbdl583lJR/LzwbZ+uY68Ecf4oxAZGZw28r9cbFZi7a0bJCch++xwkEElQyy+lPn9BSnHha1rQBeCuXTcren32Byn2Uq39MtgH5KruAG+x7zvqxcKdJpYb68BBqNPBUWtuBps+C0ao2DMlc+c6dJ0cibrDRjd9nwaGhffewCZO+bN91Jyupyt2aKprWWXVuftf4IfIZHYFJmaWgF+ZMvn7wkK0zvwShutA/Z5bLvQoj5riG4VkIuwJYxWXhNvhB4d67RNtqOCXeugJFzZF21Qx0o3IIttppDDifX9n8q+PfiBEpT9yHTbcCgiN7nHt9GgMCczWkakaqrU51UNLO9qB+VMPCeyBxQDTueJtP0FuIOpj1j2s4k3ruUrxMoMuvGm7u9XOskESrpLFQR6ZVF0a19v8YnGAjgjU2kuBDSkEvt+3Ix29o14xjUCBLNv2BqVAVkcoM5slqepPB7gH/ivUrm2S0bSRN9DzfR9CKl30kzGpn4xZKLyRnWuMJChFBllXa0jgri6RSQb2Fpl5EaX3Ec2/DCqn5E6620gE4zBrKSV9ftGYiVqS+4t70SQc6EIv9AhkYIVNjpGRew9NjtjgA3K+QPVUIJzv+JmYaQfOsq0yaLoV7t6pL5SS94ShBB9Wxq962164/c=" />

    </application>

</manifest>